<launch>
    <node pkg="local_mapping_lidar" exec="local_mapper" name="local_mapping_lidar">
        <remap from="/pointcloud" to="/hesai/pandar" />
    </node>
    <node pkg="tf2_ros" name="static_transform_publisher" exec="static_transform_publisher" args="0 0 0 0 0 0 1 base_link pandar40p" />
</launch>